<form id="ForgotPasswd" name="ForgotPasswd" action="resetPasswdServlet" method="post">
    <input type="hidden" name="command" value="resetPassword">
    
    <table align="center" border="0" cellpadding="2" cellspacing="1" width="1000" class="outerBox">
    
      <tbody><tr>
        <td>
          <h1>Forgot Your Password?</h1>
          <br>
        </td>
      </tr>
      
      <tr>
        <td>
          <p>If you have forgotten your password, enter your <strong>User Name</strong> or <strong>Email Address</strong> as well as the image text in the fields below and click <strong>Submit</strong>. We will send you an email containing your password immediately.</p>
        </td>
      </tr>
      
      <tr>
        <td align="center">
          <table align="center" border="0" cellpadding="2" cellspacing="1" width="450" class="innerBox">
            <tbody><tr>
              <td align="center" style="background-color: #5D7B9D; font-size: 12; font-weight: bold; color: White;" colspan="3">
                            Verification Details
              </td>
            </tr>
            
                    <tr>
              <td align="right">
                User Name:
                        </td>
              <td align="left" colspan="2">
                <input type="text" class="txtBox" id="userName" value="" name="userName" onfocus="toggleUserNameEmailId(this)">
              </td>
            </tr>
                    <tr>
              <td align="center" colspan="3">
                <strong>OR</strong>
                        </td>
                    </tr>
                    <tr>
                         <td align="right">
                             Email Address:
                         </td>
                         <td align="left" colspan="2">
                             <input type="text" class="txtBox" id="emailId" value="" name="emailId" onfocus="toggleUserNameEmailId(this)">
                         </td>
                     </tr>
             
            <tr>
              <td align="right" width="150">
                             &nbsp;
                         </td>
                         <td align="left" width="150">
                            <img id="dvKaptchaImg" src="dvKaptcha.jpg" width="150" height="50">
                         </td>
               <td>
                <img src="reloadKaptcha.png" title="Click here for new image " width="16" height="16" onmouseover="javascript:style.cursor='pointer'" onclick="reloadImage()">
              </td>   					 
            </tr>
            <tr>
              <td align="right">
                             Enter the text from image:
                        </td>
                        <td align="left" colspan="2">
                           <input type="text" class="txtBox" name="dvKaptchaValue" value="">
                </td>										 										                 
            </tr>
            
            
                    <tr>
                        <td align="center" style="color: red" colspan="3">
                            Image text not matched. Please try again 
                        </td>
                    </tr>
             
                    <tr>					
                <td></td>
              <td></td>
                        <td>
                             <input type="submit" class="btn" value="Submit" onmouseover="javascript:style.cursor='pointer'">
                         </td>
                    </tr>
                </tbody></table>
        </td>
      </tr>
    </tbody></table>
    </form>
    <script>

        function reloadImage(){	
          var dvKaptchaImg = document.getElementById('dvKaptchaImg');
          dvKaptchaImg.src = "dvKaptcha.jpg"+"?" + (new Date()).getTime();	
        }
        
        function toggleUserNameEmailId(obj){
        
          var curObj = obj.id;
          
          var emailId = document.getElementById('emailId');
          var userName = document.getElementById('userName');
          
          if(curObj == "emailId"){
            userName.value = "";
          }
          if(curObj == "userName"){		
            emailId.value = "";
          }
        
        }
        
        </script>