.txtBox {

	font-size:1.1em;
	width:150px;
	
}

.btn {
    
	color:#284775;
	background-color:#FFFBFF;
	border-color:#CCCCCC;
	border-width:1px;
	border-style:Solid;
	font-family:Verdana;
	font-size:0.8em;
   
}


.outerBox{
	
	margin-top:30px;
	padding:10px;
	background-color: #FFFFFF;
	border: 1px solid #6C8AAA;
	
}

h1 {
    color: #0033CC;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 18px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    line-height: normal;
    margin-bottom: 0;
    text-decoration: none;
    text-transform: none;
}

p {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: normal;
    margin-bottom: 0;
    margin-top: 0;
    text-decoration: none;
    text-transform: none;
}

td {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: normal;
    text-decoration: none;
    text-transform: none;
}

.innerBox{
	
	margin-top:20px;
	padding:10px;
	background-color: #F7F6F3;
	border: 1px solid #6C8AAA;
	
	
}